@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  height: auto;
  transition: 0.3s ease all;
}

img:hover {
  scale: 102%;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
